/*------- Phone -------*/
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Inter' , sans-serif !important;
} 

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.link {
  color: white !important;
  transition: color 400ms !important;
}

.link:hover, .link:focus {
  color: #53d7ff !important;
}

.tb-top {
  border-bottom: 3px solid red;
}

.logo-phone{
  margin: 2em 0em 0.2em;
  display: inline;
}

.logo{
  display: none;
}
.content-center {
  min-height: calc(100vh - 111px);
}

.ss-news h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.ss-news h5 {
  color: #00b9ec;
}

.ss-news {
  display: flex;
  background-color: #00000077;
  background-size: cover;
  background-blend-mode: darken;
  height: 300px;
  justify-content: center;
  align-items: end;
}

.news-link {
  display: flex;
  justify-content: center;
  align-items: end;
  height: inherit;
  width: inherit;
  text-decoration: none;
}

.news-link-card {
  padding: 9px 13px;
  height: 45%; 
  background-color: white;
  max-width: 92%;
  min-width: 30%;
}

.swiper-pagination-bullet {
  border: 1px solid white !important;
}

.tb-swiper {
  max-width: 454px;
}
.tb-swiper-slide {
  text-align: center;
}

.tb-swiper-slide img {
  height: 140px;
  object-fit: cover;

}

.swiper-button-prev, .swiper-button-next {
  text-shadow: -1px 0 1px #000000c2, 0 1px 1px #000000c2, 1px 0 1px #000000c2, 0 -1px 1px #000000c2, -2px 0 3px #ffffff5c, 0 2px 3px #ffffff5c, 2px 0 3px #ffffff5c, 0 -2px 3px #ffffff5c;
  color: #53d7ff;
}

.topic-head {
  min-height: calc(100vh - 120px);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column-reverse;
}

.topic-title-and-author {
  min-height: calc(100vh - 300px - 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(#0000009f 75%, rgb(0, 0, 0) 95% );
  color: white;
}

.topic-title {
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 1024px;
}

.topic-author-and-date {
  display: flex;
  justify-content: space-around;
}

.topic-separator {
  height: 35px;
  background-color: #c0c2c7;
}

.topic-text {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 800px;
}
.topic-text h4 {
  max-width: 60%;
}

.topic-text p {
  padding-left: 25px;
  text-indent: 14px;
  font-size: 1.1875rem;
  line-height: 1.875rem;
}

.columnasMain {
  display: none;
}

.nv-bottom{
  position: fixed;
  bottom: 0;
  z-index: 4;
  border-top: rgb(152, 152, 152) solid 1px;
  width: 100%;
  background-color: white;
}

.nv-bottom-wrap{  
  height: 54px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 27em;
}

.nv-bottom-bt{
  flex: 1;
  text-align: center;
  margin: auto;
}

.nv-bottom-bt a{
  text-decoration: none !important; 
  color: black !important;
}

.nv-bottom-bt .material-symbols-outlined{
  color: black;
  font-size: 28px;
}

.nv-bottom-bt p{
  font-size: 0.87em;
  margin: -13px 0px -3px;
}

.material-symbols-rounded {
  margin-left: 4px;
  margin-top: 2px;
  height: 24px;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  transition: all 0.3s;
}

.publications-nav {
  min-height: 47px;
  margin-bottom: 15px;
  padding-top: 1px;
  display: flex;
  justify-content: center;
}

.publications-nav button {
  padding: 2px 2vw;
  border: white solid 1px;
  border-radius: 5px;
  background-color: rgb(36, 171, 255);
  color: white;
  transition: 250ms;
}

.publications-nav button.active {
  padding: 4px 4vw;
  background-color: red;
}

.sorting-options {
  display: flex;
  margin-left: 7px;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
}

.publications-list {
  list-style-type: none;
  padding: 0;
}

.post-feed-card{
  padding: 5px 10px;
  border-bottom: #cbcbcb solid 1px;
}

.ost-feed-card-img {
  width: 100%;
}

.author-suggestions {
  overflow: hidden; /* Esto es importante para ocultar el contenido cuando la altura es 0 */
  transition: height 0.3s ease-out;
  position: absolute;
  top: 100%; /* Esto hace que la lista comience justo debajo del input */
  left: 3px; /* Alinea la lista con el borde izquierdo del input */
  background-color: #ffffffeb;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  z-index: 2;
  margin-top: 4px;
  padding-right: 8px;
}

.footbar{
  padding-bottom: 54px;
}

.footbar-info-section {
  display: none;
}

/*------- Tablet -------*/
@media (min-width: 576px) {
  .news-link-card {
    max-width: 60%;
  }

  .footbar-info-section {
    display: block;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  
  .footbar-info-section-box {
    display: flex;
    flex-direction: column;
    width: 20%;
    color: hwb(180 43% 54%);
  }
  
  .footbar-info-section-box p {
    padding-left: 33%;
  }
}

/*------- Desktop -------*/
@media (min-width: 992px) {  
  .logo-phone{
    display: none;
  }

  .content-center {
    min-height: calc(100vh - 123px - 46px);
  }

  .main {
    display:flex;
    flex-direction: column;
  }

  .news {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .columnasMain {
    display: flex;
    flex-grow: 1;
    margin: auto;
  }

  .columna {
    border: 1px black solid;
    border-radius: 10px;
    background-color: #57b6d154;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33vw;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  .nov-carousel {
    width: 100%;
  }

  .logoslider {
    display: flex;
    margin: auto;
    max-width: 768px;
  }

  .logos {
    margin: auto;
  }

  .logo {
    display: inline;
    margin: 10px
  }

  .news-link-card {
    margin-left: -10%;
    padding: 15px 15px;
    max-width: 55%;
    min-width: 30%;
  }

  .loading {
    height: 100%;
    display: flex;
  }

  .loading img {
    margin: auto;
  }

  .navbar {
    position: sticky !important;
    top: 0 !important;
    z-index: 2;
  }

  .courses-news {
    background-color: #e6e7e8;
  }

  .courses-inscriptions-main-title {
    margin-top: 10px;
    font-size: 1.12rem;
    justify-content: center;
    text-align: center;
    color: #00b9c0;
  }

  .courses-inscriptions-main {
    min-height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .course-link {
    flex: 1;
    color: #00b9c0;
    text-decoration: none !important; 
  }

  .course-link-div {
    margin-top: 13px;
  }

  .courses-inscriptions-splitter {
    margin: 0px 200px;
    border: 0.1px solid #00b9c0 ;
  }

  .splitter-line {
    margin: 10px 0px;
    border: 0.1px solid #00b9c0 ;
  }

  .publications-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .publications-nav {
    min-height: 47px;
    margin-bottom: 15px;
    padding-top: 1px;
    display: flex;
    justify-content: center;
  }
  
  .publications-nav button {
    padding: 2px 30px;
    border: white solid 1px;
    border-radius: 5px;
    background-color: rgb(36, 171, 255);
    color: white;
    transition: 250ms;
  }
  
  .publications-nav button.active {
    padding: 4px 45px;
    background-color: red;
  }
  
  .post-feed-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px 5px rgba(0, 0, 0, 0.108);
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: all 0.3s;
  }
  
  .post-feed-card:hover {
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
  }
  
  .ost-feed-card-img {
    float: left;
    margin: 0 20px 15px 0;
    width: 169px;
    height: 95px;
  }

  .nv-bottom{
    display: none;
  }
}